$darkTextColor: #333;
$lightTextColor: white;

//Text and Background Colors
$primaryColor: #047aed;
$secondaryColor: #1c3fa8;
$darkColor: #002240;
$lightColor: #f4f4f4;

// Alert Colors
$successColor: #5cb85c;
$errorColor: #d9534f;